* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.app {
    min-width: 800px;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.form-card .form-label {
    color: #000;
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-card .form-input {
    width: 200px;
    height: 25px;
    padding: 0 5px;
}

.form-card .form-select {
    width: 150px;
    height: 25px;
    padding: 0 5px;
}

.form-btn {
    display: block;
    padding: 8px 20px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(165, 79, 246);
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

.form-btn:hover {
    opacity: 0.9;
}

.result {
    margin-top: 20px;
    font-size: 1.8rem;
    color: blue;
}
