* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form div {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.form-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 22px;
    margin-right: 40px;
}

.form-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

input:checked + .good {
    background-color: rgb(12, 209, 94);
}

input:checked + .cheap {
    background-color: rgb(54, 16, 158);
}

input:checked + .fast {
    background-color: rgb(255, 9, 9);
}

input:checked + .form-slider:before {
    transform: translateX(32px);
}

.form-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #c0c0c0;
    transition: 0.4s;
}

.form-slider:before {
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    left: 0;
    bottom: -4px;
    background-color: gray;
    border-radius: 50%;
    transition: 0.4s;
    transform: translateX(0);
}
